@inject SignInManager<IdentityUser> _signInManager;
@inject UserManager<IdentityUser> _userManager;

@if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li><a asp-controller="Product" asp-action="ListAll">Admin</a></li>
}