@inject SignInManager<IdentityUser> _signInManager;
@inject UserManager<IdentityUser> _userManager;

@if (_signInManager.IsSignedIn(User) && 
    await _userManager.IsInRoleAsync(_userManager.GetUserAsync(User).Result, "Admin"))
{
    <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Admin</a></li>
}
