@model EsportsReady.Models.Product

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/edit-create-page.css" asp-append-version="true" />
</head>

<div class="title">
    <h1>CREATE</h1>
    <h2>Product</h2>
</div>

<hr />

<partial name="_createOrEdit" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
