@model EsportsReady.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <h4>Description</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Description.CPU" class="control-label"></label>
                <input asp-for="Description.CPU" class="form-control" />
                <span asp-validation-for="Description.CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.GPU" class="control-label"></label>
                <input asp-for="Description.GPU" class="form-control" />
                <span asp-validation-for="Description.GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.Memory" class="control-label"></label>
                <input asp-for="Description.Memory" class="form-control" />
                <span asp-validation-for="Description.Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.Motherboard" class="control-label"></label>
                <input asp-for="Description.Motherboard" class="form-control" />
                <span asp-validation-for="Description.Motherboard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.Storage" class="control-label"></label>
                <input asp-for="Description.Storage" class="form-control" />
                <span asp-validation-for="Description.Storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.PSU" class="control-label"></label>
                <input asp-for="Description.PSU" class="form-control" />
                <span asp-validation-for="Description.PSU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
