.container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 50px;
  justify-content: space-between;
  gap: 25px;
}
.container .lhs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.container .lhs-header h1 {
  font-size: 2rem;
  font-weight: 700;
}
.container .rhs-header h1 {
  font-size: 2rem;
  font-weight: 700;
}

.lhs-content {
  flex: 2;
  border: 1px solid red;
}
.lhs-content ul li {
  display: flex;
}
.lhs-content ul li .thumbnail {
  width: 80px;
  height: 80px;
}
.lhs-content .quantity-btn {
  display: flex;
  max-width: 50%;
  justify-content: center;
  border: 1px solid green;
  border-radius: 10%;
}

.rhs-content {
  flex: 1;
  border: 1px solid blue;
}
.rhs-content .rhs-inner {
  background: red;
}
.rhs-content .btn-parent {
  text-align: center;
  margin-block: 15px;
}
.rhs-content .btn-parent .btn {
  display: inline-block;
  border: none;
  padding: 10px 50px;
  background-color: #8528e1;
  color: white;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 1px rgba(72, 66, 80, 0.5);
  cursor: pointer;
  transition: transform 0.2s;
}
.rhs-content .btn-parent .btn:hover {
  background-color: #622999;
  transform: scale(1.03);
}
.rhs-content .btn-parent .btn:active {
  transform: scale(0.98);
}
