.container {
  max-width: 400px;
  margin-inline: auto;
}
.container .lhs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding-block: 10px;
}
.container .lhs-header h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
.container .rhs-header {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 10px;
}
.container .rhs-header h1, .container .rhs-header .sub-header {
  padding-bottom: 10px;
  text-align: center;
}
.container .rhs-header h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 10px;
}
.container .rhs-header .sub-header h2 {
  font-weight: 500;
}

.lhs-content ul li {
  display: flex;
  border-bottom: 1px solid #D9D9D9;
  gap: 15px;
  padding-block: 10px;
}
.lhs-content .img-container {
  width: 80px;
}
.lhs-content .img-container .thumbnail {
  width: inherit;
  height: 80px;
  object-fit: cover;
}
.lhs-content .product-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.lhs-content .product-details div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lhs-content .product-details .title-quantity h1 {
  font-weight: 500;
}
.lhs-content .product-details .delete-price a {
  display: inline-block;
  color: #3d3d3d;
}
.lhs-content .product-details .delete-price a:hover {
  color: #ed2d1f;
}
.lhs-content .product-details .delete-price a:active {
  color: #b52c22;
}
.lhs-content .product-details .delete-price p {
  color: #5c5c5c;
  font-size: 0.95rem;
}
.lhs-content .product-details .quantity-btn {
  display: flex;
  max-width: 70%;
  flex-direction: row;
  justify-content: center;
  padding: 15px 8px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
.lhs-content .product-details .quantity-btn p {
  margin-inline: 10px;
}
.lhs-content .product-details:last-child {
  text-align: right;
}

.rhs-content .rhs-inner {
  background: #f2f2f2;
  padding: 15px;
}
.rhs-content .taxes, .rhs-content .est-shipping {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
.rhs-content .terms-conditions {
  margin-block: 15px;
  font-size: 0.9rem;
}
.rhs-content .terms-conditions .terms {
  margin-bottom: 5px;
}
.rhs-content .terms-conditions a {
  color: #0D21D9;
}
.rhs-content .terms-conditions a:hover {
  color: #5a68e6;
}
.rhs-content .btn-parent {
  text-align: center;
}
.rhs-content .btn-parent .btn {
  display: inline-block;
  border: none;
  padding: 10px 50px;
  background-color: #8528e1;
  color: white;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 1px rgba(72, 66, 80, 0.5);
  cursor: pointer;
  transition: transform 0.2s;
}
.rhs-content .btn-parent .btn:hover {
  background-color: #622999;
  transform: scale(1.03);
}
.rhs-content .btn-parent .btn:active {
  transform: scale(0.98);
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
    max-width: 900px;
    margin-block: 50px;
    gap: 30px;
  }
  .container .rhs-header h1 {
    text-align: left;
  }
  .container .rhs-header .sub-header {
    display: flex;
    justify-content: space-between;
  }
  .lhs-content {
    flex: 1;
  }
  .rhs-content .rhs-inner {
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    max-width: 1300px;
    margin: 50px auto;
    justify-content: space-between;
    gap: 30px;
  }
  .container .lhs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding-block: 10px;
  }
  .container .lhs-header h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .container .rhs-header {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;
  }
  .container .rhs-header h1, .container .rhs-header .sub-header {
    padding-bottom: 10px;
  }
  .container .rhs-header h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .container .rhs-header .sub-header {
    display: flex;
    justify-content: space-between;
  }
  .container .rhs-header .sub-header h2 {
    font-weight: 500;
  }
  .lhs-content {
    flex: 1.5;
  }
  .lhs-content ul li {
    display: flex;
    border-bottom: 1px solid #D9D9D9;
    gap: 25px;
    padding-block: 20px;
  }
  .lhs-content ul li .img-container {
    width: 100px;
  }
  .lhs-content ul li .img-container .thumbnail {
    width: inherit;
    height: 100px;
    object-fit: cover;
  }
  .lhs-content ul li .product-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .lhs-content ul li .product-details div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .lhs-content ul li .product-details .title-quantity h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .lhs-content ul li .product-details .delete-price a {
    display: inline-block;
    color: #3d3d3d;
  }
  .lhs-content ul li .product-details .delete-price a:hover {
    color: #ed2d1f;
  }
  .lhs-content ul li .product-details .delete-price a:active {
    color: #b52c22;
  }
  .lhs-content ul li .product-details .delete-price p {
    color: #5c5c5c;
    font-size: 0.95rem;
  }
  .lhs-content ul li .product-details .quantity-btn {
    display: flex;
    max-width: 70%;
    flex-direction: row;
    justify-content: center;
    padding: 15px 8px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
  }
  .lhs-content ul li .product-details .quantity-btn p {
    margin-inline: 10px;
  }
  .lhs-content ul li .product-details:last-child {
    text-align: right;
  }
  .rhs-content {
    flex: 1;
  }
  .rhs-content .rhs-inner {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
  }
  .rhs-content .taxes, .rhs-content .est-shipping {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .rhs-content .terms-conditions {
    margin-block: 15px;
    font-size: 0.9rem;
  }
  .rhs-content .terms-conditions .terms {
    margin-bottom: 5px;
  }
  .rhs-content .terms-conditions a {
    color: #0D21D9;
  }
  .rhs-content .terms-conditions a:hover {
    color: #5a68e6;
  }
  .rhs-content .btn-parent {
    text-align: center;
  }
  .rhs-content .btn-parent .btn {
    display: inline-block;
    border: none;
    padding: 10px 50px;
    background-color: #8528e1;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 1px rgba(72, 66, 80, 0.5);
    cursor: pointer;
    transition: transform 0.2s;
  }
  .rhs-content .btn-parent .btn:hover {
    background-color: #622999;
    transform: scale(1.03);
  }
  .rhs-content .btn-parent .btn:active {
    transform: scale(0.98);
  }
}
