.container {
  max-width: 600px;
  margin-inline: auto;
}
.container .submit-btn {
  margin-top: 10px;
}

.text-danger {
  color: red;
}

h1 {
  font-size: 1.7rem;
  font-weight: 800;
}

h2 {
  font-weight: 500;
}

.title {
  text-align: center;
  margin-block: 10px;
}

.product-description {
  margin-top: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}
.form-group input[type=file] {
  text-align-last: right;
  margin-right: 5px;
}
