.hp-hero-img-container {
	--img-padding: 230px;
	background-color: #8528e1;
	background-image: url("../images/PCs/hero-image.jpg");
	background-position: 0% 20%;
	padding-top: var(--img-padding);
	padding-bottom: var(--img-padding);
}

.hp-hero-text {
	display: flex;
	flex-direction: column;
	padding: 20px 320px;
	color: white;
}

.hp-hero-text h1, .hp-hero-text p {
	padding: 10px 0px;
}

.hp-hero-text h1 {
	width: 400px;
	word-wrap: break-word;
	font-size: 4rem;
	font-weight: 600;
}

.hp-hero-text p {
	font-size: 1.2rem;
	font-weight: 300;
}

.hp-hero-text a {
	max-width: 20%;
	margin: 10px 0px;
	padding: 10px;
	background-color: transparent;
	font-size: 1.1rem;
	font: inherit;
	font-weight: 600;
	text-align: center;
	color: inherit;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 0px 6px 8px 3px rgba(72, 66, 80, 0.5);
	cursor: pointer;
	transition: transform 0.2s;
}

.hp-hero-text a:hover {
	transform: scale(1.03);
}

.hp-hero-text a:active {
	transform: scale(0.98);
}

.hp-sub-header {
	padding: 45px;
	font-size: 2.2rem;
	font-weight: 700;
	text-align: center;
}

.hp-sub-header p {
	width: 450px;
	margin: auto;
	padding-top: 7px;
	word-wrap: break-word;
	color: #565656;
	font-size: 1.1rem;
	font-weight: 300;
}

.hp-section-container {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.hp-section-container section {
	width: 350px;
	background-color: #f2f2f2;
	padding: 40px;
	margin: 0px 10px;
	border-radius: 8px;
}

.hp-section-container section p {
	text-align: center;
}

.hp-section-container section:nth-child(1) .hp-review-container {
	background-image: url("../images/reviewer-logos/asus-logo-cropped.png");
	background-size: 180px 40px;
}

.hp-section-container section:nth-child(2) .hp-review-container {
	background-image: url("../images/reviewer-logos/scan-pc-cropped.png");
	background-size: 200px 50px;
}

.hp-section-container section:nth-child(3) .hp-review-container {
	background-image: url("../images/reviewer-logos/tech-radar.png");
	background-size: 200px 40px;
}

.hp-section-container .hp-review-container {
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 10px;
	padding: 25px;
}

.hp-peripheral-img {
	--img-padding: 380px;
	background-color: #8528e1;
	background-image: url("../images/Peripherals/peripherals-1.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: var(--img-padding);
	padding-bottom: var(--img-padding);
}
