.hero-img-container {
  background-color: black;
  background-image: url("../images/PCs/product-hero.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 110px;
}

.hero-text {
  color: white;
  text-align: center;
}
.hero-text h1, .hero-text h3, .hero-text p {
  margin-block: 8px;
}
.hero-text h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
.hero-text p {
  font-size: 0.98rem;
  font-weight: 300;
}

.sub-header {
  text-align: center;
}
.sub-header h1 {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 1rem;
  margin-bottom: 20px;
}

.product-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 30px 30px;
  border-radius: 12px;
}
.product-cards a {
  max-width: 100%;
  padding: 10px;
  background-color: #8528e1;
  color: white;
  font-weight: 400;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 1px rgba(72, 66, 80, 0.5);
  cursor: pointer;
  transition: transform 0.2s;
}
.product-cards a:hover {
  background-color: #622999;
  transform: scale(1.03);
}
.product-cards a:active {
  transform: scale(0.98);
}
.product-cards img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .hero-img-container {
    background-image: url("../images/PCs/product-hero.jpg");
    background-position: center;
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .section-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;
    margin-inline: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .hero-img-container {
    background-image: url("../images/PCs/product-hero.jpg");
    background-size: contain;
    background-position: bottom;
    padding-top: 230px;
    padding-bottom: 230px;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text h3, .hero-text p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .sub-header {
    padding: 25px;
  }
  .sub-header h1 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .section-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1050px;
    margin-bottom: 35px;
  }
  .product-cards {
    min-height: 400px;
  }
  .product-cards img {
    width: 250px;
    height: 250px;
  }
}
